#anest {
    /*background-image: url("//img/ANEST.jpg");*/
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: auto !important;
    /*border: 2px solid ;*/
    padding-bottom: 0;
}


#anest #anestWrapper {
   /*border: 3px solid;*/
    padding: 5% 0;
}
.alert-success {
    /*color: #155724;*/
    /*background-color: #d4edda;*/
    /*border-color: #c3e6cb;*/

    color: #ffffff !important;
    background-color: #339966 !important;
    border-color: #c3e6cb;
}


/* counter */
.outterCounter{
    /*background: red;*/

    text-align: center;
    /*color: orangered;*/
    color: #ff9900;
    width: 25% !important;
    font-size: 32px;
    padding: 2%;
    border-radius: 5%;
    /*width: 5rem;*/
    /*height: 5rem;*/

}


